/* Import all styles */
@import './foundation.css';
@import './footer.css';
@import './sidebar.css';
@import './dashboard.css';
@import './auth.css';
@import './avatar.css'


/* Additional global styles can go here */